$j: center;
$c: center;
$w: wrap;

@mixin jcw($j, $c, $w) {
  display: flex;
  justify-content: $j;
  align-items: $c;
  flex-wrap: $w;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
