$j: center;
$c: center;
$w: wrap;

@mixin jcw($j, $c, $w) {
  display: flex;
  justify-content: $j;
  align-items: $c;
  flex-wrap: $w;
}

.main {
	border: 1px solid #ECEFF1;
	&__body {
		@include jcw(space-between, $c, $w);
		padding: 14px 0;
	}
	&__search {
		width: 100%;
		max-width: 526px;
		height: 40px;
		background: #FFFFFF;
		border: 1px solid #ECEFF1;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex;
    	align-items: center;
    	position: relative;
    	form {
    		width: 100%;
    		padding: 0 14px;
    		p {
    			position: relative;
    		}
    		input {
    			width: 95%;
    		}
    		button {
    			background: none;
			    width: 13px;
			    height: 13px;
			    position: absolute;
			    top: 10px;
			    right: 15px;
    		}
    	}
	}
	&__list {
		@include jcw(space-between, $c, $w);
		width: 111px;
		height: 40px;
		background: #FAFBFC;
		border: 1px solid #ECEFF1;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 0 16px;
	}
	&__circle {
		@include jcw($j, $c, $w);
		width: 40px;
		height: 40px;
		background: #9B51E0;
		border-radius: 50%;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
	}
}
.btn-burger {
	width: 116px;
	height: 40px;
	background: #FED83D;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #050F19;
	position: relative;
	&:after {
		content: 'Каталог';
		position: absolute;
		right: 16px;
	}
}
.autocomplete {
	position: relative;
	display: inline-block;
}
.autocomplete-items {
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	background: #fff;
	border: 1px solid #eee;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.autocomplete-items div:hover {
	background: #eee;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
